doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title dna-images
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic")
    link(rel='stylesheet', href='css/main.css?t=' + build_info.timestamp)
    script(src='https://app.qz.com/js/frameMessager/min/frameMessager.min.js')

  body
    div.item-body
      div#interactive-content
        include thing.jade
    script(src='js/config.js?t=' + build_info.timestamp)
    script(src='js/thing.js?t=' + build_info.timestamp)
